<div class="col-sm-12">
    <p>
        <h2>
            AlphaGreen is a site managed service business working in the specialist field of Waste and Recycling.
        </h2>
    </p>
    <p>
        <h2>
            Over the past decade we have supported numerous Waste Recycling Firms and landfill operations.
        </h2>
</p>
    <p>
        <h2>
            We cover all aspects of the waste sector including TCM, HR, employment legislation, Recruitment and selection , Legal support and Training.
        </h2>
    </p>
    <p>
        <h2>
            We cover all aspects of supporting your waste and recycling operation.
        </h2>
    </p>
    
</div>
<div class="row"></div>