<div >
    <h2>
        <p>
            The waste and recycling industry has changed over the years, the days of running a horse and cart and collecting waste product from the streets has all but disappeared.
        </p>
        <p>
            Over the past decade, the waste industry has changed and adopted a sophisticated logistics, manufacturing and production process for  collecting, sorting and recycling waste.
        </p>
        <p>
            Products such as RDF and SRF has become popular due to the potential cost savings, however as the sector advances and changes, so has Environmental  legislation, duty of care, VOSA regulations, Employment law, staff management and Health and safety.
        </p>
        <p>
            Our job is to assist and support you, take away the headaches, so you can get on with running your Waste Transfer Station or Landfill.
        </p>
    </h2>
</div>



