<div class="col-sm-12 ">
    <p>
        <h2>
            Our team comprises of the following qualified individuals who are here to help you, and support your waste business:    
        </h2>
        
       <b>- HR Consultant                                             </b><br/> <br/>
       <b>- Experienced Waste Transfer Station Manager                </b><br/> <br/>
       <b>- Health and Safety Consultant                              </b><br/> <br/>
       <b>- COTC TCM Level 4                                          </b><br/> <br/>
       <b>- Environmental Lawyer (Safety, Health, Environment)        </b><br/> <br/>
       <b>- Employment Lawyer                                         </b><br/> <br/>
       <b>- WAMITAB Trainer                                           </b><br/> <br/>
       <b>- Recruitment Manager                                       </b><br/> <br/>
       <b>- CPC and VOSA Trainer                                      </b><br/> <br/>


    </p>
</div>
<div class="row"></div>